---
title: News
layout: default
---

%h1
  Bundles >  
  %a{:href=>"../bundles"} General >
  osgi.bnd 

The pom files of skysail bundles usually have a similar layout the main sections of 
which are described here in more detail:

%p
%p 
  The parent pom:
  
.row
  .span12
    .well
      %h2 
        An example osgi.bnd file

      %p
        :markdown
              Import-Package: com.thoughtworks.xstream.annotations;resolution:=optional,\
               org.codehaus.jackson.annotate;resolution:=optional,\
               org.codehaus.jackson.map.annotate;resolution:=optional,\
               org.apache.commons.lang,\
               *;resolution:=optional
              Export-Package: de.twenty11.skysail.common;version="0.2.0",\
               de.twenty11.skysail.common.app;version="0.1.0",\
               de.twenty11.skysail.common.filters;version="0.0.1",\
               de.twenty11.skysail.common.grids;version="0.3.0",\
               de.twenty11.skysail.common.forms;version="0.2.0",\
               de.twenty11.skysail.common.responses;version="0.3.0"
              Bundle-SymbolicName: skysail.common
              Include-Resource: {maven-resources}
            

