---
title: News
layout: default
---

%h1
  Bundles >  
  %a{:href=>"../bundles"} General

All skysail bundles share the same layout:

%p 
  %h2 src/main/java
  
  Java source files, typically in packages starting with "de.twenty11.[symbolic name]".

%p 
  %h2 
    %a{:href=>"src_main_resources.html"} src/main/resources
  
%p 
  %h2 
    %a{:href=>"src_test_java.html"} src/test/java
  
%p 
  %h2 
    %a{:href=>"src_test_resources.html"} src/test/resources
  
%p
  %h2
    %a{:href=>"bnd.html"} osgi.bnd
  
  this file instructs the maven bundle plugin with details about the OSGi build process.
  
%p
  %h2 
    %a{:href=>"pom.html"} pom.xml
  
  skysail bundles are build using 
  %a{:href=>"http://maven.apache.org", :target=>"_blank"} maven 3
  ; everything maven needs to know about the project
  is defined in this file. To install the projects, simply type "mvn clean install".