---
title: News
layout: default
---

%h1
  Bundles >  
  %a{:href=>"../bundles"} General >
  pom.xml 
  
The pom files of skysail bundles usually have a similar layout the main sections of 
which are described here in more detail:

%p
%p 
  The parent pom:
  
.row
  .span12
    .well
      %h2 
        Parent Pom
        %small Version #{site.parent_pom_version}

      %p
        :markdown
              <profiles>        
                <groupId>de.twentyeleven.skysail</groupId>
                <artifactId>skysail.build.maven.parentPom</artifactId>
                <version>#{site.parent_pom_version}</version>
              </profiles> 

%p 
  Information about where you can find the source:
  
.row
  .span12
    .well
      %h2 
        Source Control

      %p
        :markdown
                <scm>
                    <!-- read access -->
                    <connection>scm:git:git@github.com:evandor/skysail-common.git</connection>
                    <!-- write access -->
                    <developerConnection>scm:git:git@github.com:evandor/skysail-common.git</developerConnection>
                    <!-- A publicly browsable repository. For example, via ViewCVS. -->
                    <url>scm:git:git@github.com:evandor/skysail-common.git</url>
                </scm>


%p 
  This maven plugin is used to create OSGi artifacts from the source. Please note that the
  file referenced in the _include section has to point to a BND file like this: 
  %a{:href=>"bnd.html"} osgi.bnd
  
.row
  .span12
    .well
      %h2 
        Maven Bundle Plugin

      %p
        :markdown
              <plugin>
                <groupId>org.apache.felix</groupId>
                <artifactId>maven-bundle-plugin</artifactId>
                <configuration>
                  <instructions>
                    <_include>-osgi.bnd</_include>
                  </instructions>
                </configuration>
              </plugin>

%p 
  Skysail bundles usually use pax-exam for integration testing.
  
.row
  .span12
    .well
      %h2 
        Parent Pom
        %small Version #{site.parent_pom_version}

      %p
        :markdown
              <!-- testing with pax exam -->
              <dependency>
                <groupId>org.ops4j.pax.exam</groupId>
                <artifactId>pax-exam-container-native</artifactId>
                <scope>test</scope>
              </dependency>
              <dependency>
                <groupId>org.ops4j.pax.exam</groupId>
                <artifactId>pax-exam-junit4</artifactId>
                <scope>test</scope>
              </dependency>
              <dependency>
                <groupId>org.ops4j.pax.exam</groupId>
                <artifactId>pax-exam-link-mvn</artifactId>
                <scope>test</scope>
              </dependency>
              <dependency>
                <groupId>org.ops4j.pax.url</groupId>
                <artifactId>pax-url-aether</artifactId>
                <scope>test</scope>
              </dependency>
              <dependency>
                <groupId>org.apache.felix</groupId>
                <artifactId>org.apache.felix.framework</artifactId>
                <version>3.2.2</version>
                <scope>test</scope>
              </dependency>
              <dependency>
                <groupId>javax.inject</groupId>
                <artifactId>javax.inject</artifactId>
                <version>1</version>
                <scope>test</scope>
              </dependency>
              <!-- testing with pax exam - done -->

%p
  Tests are instructed to log using logback configuration
.row
  .span12
    .well
      %h2 
        Logging for the tests

      %p
        :markdown
              
              <dependency>
                <groupId>ch.qos.logback</groupId>
                <artifactId>logback-core</artifactId>
                <scope>test</scope>
              </dependency>
              <dependency>
                <groupId>ch.qos.logback</groupId>
                <artifactId>logback-classic</artifactId>
                <scope>test</scope>
              </dependency>

%p
  test