---
title: News
layout: default
---

%h1
  Bundles >  
  %a{:href=>"../bundles"} General >
  src/main/resources 

The pom files of skysail bundles usually have a similar layout the main sections of 
which are described here in more detail:

%p
%p 
  The parent pom:
  
.row
  .span12
    .well
      %h2 
        project.properties

      %p
        :markdown
              # http://stackoverflow.com/questions/3697449/retrieve-version-from-maven-pom-xml-in-code
              project.version.from.pom=${project.version}
