---
title: News
layout: default
---

%h1
  Bundles >  
  %a{:href=>"../bundles"} General >
  src/test/resources 

The pom files of skysail bundles usually have a similar layout the main sections of 
which are described here in more detail:

%p
%p 
  The parent pom:
  
.row
  .span12
    .well
      %h2 
        exam.properties

      %p
        :markdown
              ### what is this file for? see AbstractFrameworkIntegrationSetup or http://team.ops4j.org/wiki/display/paxexam/Configuration
              pax.exam.system=default

%p 
  The parent pom:
  
.row
  .span12
    .well
      %h2 
        logback-test.xml

      %p
        :markdown
              <configuration scan="true">
                <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>WARN</level>
                  </filter>
                  <encoder>
                    <pattern>test> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                       %msg%n
                    </pattern>
                  </encoder>
                </appender>
            
                <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>DEBUG</level>
                  </filter>
                  <file>etc/testrun.log</file>
                    <append>false</append>
                    <encoder>
                      <pattern>%-5level %logger{55} - %msg%n
                      </pattern>
                    </encoder>
                </appender>
                        
                <root level="DEBUG">
                    <appender-ref ref="STDOUT" />
                    <appender-ref ref="FILE" />
                </root>
              </configuration>
              