---
title: News
layout: default
---

%h1
  Bundles >  
  %a{:href=>"../bundles"} General >
  src/test/java

There are unit tests and integration tests

%p
%p 
  Unit tests:
  
.row
  .span12
    .well
      %p
        Here you will find the typical unit tests used to make sure that your "units of work" to what they
        should. This is not different from any other java project setup.
    

%p 
  Integration tests:
  
.row
  .span12
    .well
      %h2 
        exam.properties

      %p
        :markdown
              ### what is this file for? see AbstractFrameworkIntegrationSetup or http://team.ops4j.org/wiki/display/paxexam/Configuration
              pax.exam.system=default

