---
title: News
layout: default
---

%h1
  %a{:href=>"../"} Bundles >  
  Skysail Server Extension DbViewer

%p
  This server extension provides functionality to manage database connections and to access (view for now)
  the stored data. As usual, as a server extension, it provides a restful interface, communication via JSON.

%h2
  URIs of the Resources

%p 
  Assuming that our application is hosted locally and is listening to port 8554:

%table{:border => 1, :width => "100%"}
  %tr{:style => "background-color:#cccccc"}
    %th{:width => "450"} URI
    %th.edit Description
  %tr 
    %td 
      <b>/dbviewer/connections/</b>
    %td URI of the <font color="red">"connections"</font> resource
  %tr 
    %td <b>/dbviewer/connections/{connectionId}</b>
    %td URI of the <font color="green">"connection"</font> resource where {connectionId} represents the identifier of a connection
  %tr 
    %td <b>/dbviewer/connections/{connectionId}/tables</b>
    %td URI of the <font color="blue">"tables"</font> resource
  %tr 
    %td <b>/dbviewer/connections/{connectionId}/tables/{tablename}</b>
    %td URI of the <font color="orange">"table"</font> resource
  %tr 
    %td <b>/dbviewer/connections/{connectionId}/tables/{tablename}/columns</b>
    %td URI of the <font color="grey">"columns"</font> resource
  %tr 
    %td <b>/dbviewer/connections/{connectionId}/tables/{tablename}/data</b>
    %td URI of the <font color="purple">"data"</font> resource

%br
%h2 Methods applied on each resource

%table{:border => 1, :width => "100%"}
  %tr{:style => "background-color:#cccccc"}
    %th{:width => "100"} Resource
    %th.edit Method
    %th.edit Description
    %th{:width => "50"} Status
  %tr 
    %td <font color="red">connections</font>
    %td GET
    %td Lists the current connections.
    %td done
  %tr 
    %td 
    %td POST
    %td Creates a new user according to the data sent in the provided JSON request.
    %td done
  %tr 
    %td <font color="green">connection</font>
    %td GET
    %td Provides a representation of the connection.
    %td done
  %tr 
    %td 
    %td PUT
    %td Updates the current connection with a new set of properties.
    %td wip
  %tr 
    %td 
    %td DELETE
    %td Deletes the current connection.
    %td done
  %tr 
    %td <font color="blue">tables</font>
    %td GET
    %td Lists the tables for the current connection.
    %td done
  %tr 
    %td 
    %td POST
    %td Creates a new table according to the data sent in the provided JSON request.
    %td planned
  %tr 
    %td <font color="grey">columns</font>
    %td GET
    %td Lists the columns for the current table in the current connection.
    %td wip
  %tr 
    %td <font color="purple">data</font>
    %td GET
    %td Lists the data for the table in the current connection.
    %td wip
